caldav.session
rscds.session
davical.session
davical.webprj
build
build-stamp
*.pgdump
rscds.bfproject
davical.bfproject
locale
built-docs
built-po
.settings
*~
testing/dumps
testing/regression.conf
subdav
docs/website/api
htdocs/api
htdocs/test.php
inc/test-RRULE-v2.php
perms-perf.base
random_crap
testing/tests/google
testing/tests/local
testing/timing.stats*
.sync-cache
