
#logo {
  height: 80px;
  width: 99.9%;
  background: url(images/logo.gif) #bb1f1f no-repeat center left;
  margin-left: 0px;
  margin-top: 0px;
  border-bottom: #d2d2d2 solid 5px;
  text-align: right;
  margin-bottom: 5px;
  font-family: helvetica, arial, serif;
  font-weight: normal;
  font-size: 1em;
  color: #FFFFFF;
  display:block;
}

#title {
  float: left;
  color: #FFFFFF;
  padding-left: 100px;
  margin-top: 10px;
  font-size: 190%;
  }

#subTitle {
  float: left;
  clear: left;
  color: #FFFFFF;
  padding-left: 102px;
  padding-top: 3px;
  margin-top: 5px;
  font-size: 75%;
}


#headerLinks {
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 65%;
  padding-top: 60px;
  padding-right: 5px;
  }

#headerLinks .hlink {
  color: #FFFFFF;
  }

#headerLinks .hlink:link {
  color: #FFFFFF;
  text-decoration: none;
  }

#headerLinks .hlink:active {
  color: #FFFFFF;
  text-decoration: none;
  }

#headerLinks .hlink:hover {
  color: #FFFFFF;
  text-decoration: underline;
  }

#headerLinks .hlink:visited {
  color: #FFFFFF;
  }

