/* Basic overridable CSS for Really Simple CalDAV Store */

body, p, li, td {
  padding: 0;
  margin: 0;
  border: none;
}

.prompt {
  font-weight: bold;
  padding: 1px 1em 1px 0.5em;
  text-align: right;
}

.error {
  /* font-weight: bold; */
  font-size: 110%;
  font-family: Bitstream Vera Sans, Vera Sans, sans-serif;
  padding: 1px 0.3em;
  background-color: #c00000;
  color: #ffff00;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: Bitstream Vera Sans, Vera Sans, sans-serif;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.1em;
}

h1 {
  font-size: 200%;
  background-color: #30c050;
  margin: 0;
  padding: 0.3em;
}

h1:first-letter {
  font-size: 120%;
}

h2 {
  font-size: 160%;
  background-color: #60e080;
  margin: 0;
  padding-top: 0.3em;
  margin-top: 2px;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 130%;
  background-color: #c0ffd0;
  margin: 0;
  padding-top: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

p {
  padding: 0.1em 0.3em 0.2em;
}

ul {
  list-style-type: square;
  margin: 0 0 0.5em;
}

li {
  padding: 0 0.3em 0.2em;
}

input.text, input.password, label, input.fcheckbox,
input.ftext, input.fpassword, input.fdate, input.ftimestamp, select.fselect, select.flookup {
  background-color: #e8ffe0;
  color: navy;
  border: thin solid #c0c0c0;
}

input.text, input.password,
input.ftext, input.fpassword, input.fdate, input.ftimestamp {
  padding: 3px;
  margin: 0;
}

label.fcheckbox {
  padding: 2px;
  margin-right: 2px;
}

input.fcheckbox {
  margin-top: 6px;
  margin-bottom: 3px;
  vertical-align:-4px;
  border: none;
}

select.fselect, select.flookup {
  padding: 2px 0;
  margin: 3px 0 0;
}

.prompt {
 font-family: Arial Narrow, sans-serif;
 background-color: #a0f0b0;
 color: #003010;
}

td.entry {
  padding: 1px;
}

.ph {
 font-family:Bitstream Vera Sans, sans-serif;
 color: #003010;
 font-size: 120%;
 background-color: #60e080;
 text-align:left;
 border-top: 2px white solid;
 padding-top:3px;
}


#messages {
 background-color: #602000;
 color:white;
 border:0;
 padding:2px 6px;
}

ul.messages, li.messages {
 font-family:Bitstream Vera Sans, sans-serif;
 font-weight:700;
 font-size: 1.1em;
}

li.messages {
 display:inherit;
}

#menu {
  background-color: #084010;
  color: white;
  font-weight: bold;
  padding: 2px 1px;
  margin-bottom: 1px;
}

#menu a.menu, #menu a.menu:hover, #menu a.menu_active, #menu a.menu_active:hover {
  color: white;
  text-decoration: none;
  background-color: #10a020;
  padding: 1px 0.2em;
  margin-right: 0.2em;
}

#menu a.menu:hover, #menu a.menu_active:hover {
  color: yellow;
  background-color: #088010;
}

#menu a.menu_active, #menu a.menu_active:hover {
  color: white;
  background-color: #30d090;
}


#submenu {
  background-color: #105020;
  color: white;
  font-weight: bold;
  padding: 2px 1px;
  margin-bottom: 1px;
}

#submenu a.submenu, #submenu a.submenu:hover, #submenu a.submenu_active, #submenu a.submenu_active:hover {
  color: white;
  text-decoration: none;
  background-color: #20c040;
  padding: 1px 0.2em;
  margin-right: 0.2em;
}

#submenu a.submenu:hover, #submenu a.submenu_active:hover {
  color: yellow;
  background-color: #10a020;
}

#submenu a.submenu_active, #submenu a.submenu_active:hover {
  color: white;
  background-color: #30d090;
}

